body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    user-select: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'GreekHouse';
    src: url("./fonts/GreekHouse.ttf") format('truetype');
}

@font-face {
    font-family: 'ChineseTakeaway';
    src: url("./fonts/CHINESETAKEAWAY.ttf") format('truetype');
}

@font-face {
    font-family: 'Capitalis';
    src: url("./fonts/CapitalisTypOasis.ttf") format('truetype');
}

@font-face {
    font-family: 'OldLondon';
    src: url("./fonts/OldLondon.otf");
}

/* background */
img {
    width: 100%;
    height: auto;
    z-index: 3;

}

.bg {
    height: 100%;
    width: 100%;
    background-size: cover;
}

img#img_container_heading {
    width: 50%;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    opacity: 0.3;
    z-index: 0;
    filter: blur(5px);


}

div#img_box {
    display: grid;
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
}

input#about {
    width: 30px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input:focus {
    outline: 0;
}



/* MODAL */
.modal#aboutModal {
    background-color: transparent;

}

.modal-dialog {
    background-color: transparent;
}

.modal-content {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
}

.modal-content#aboutModal {
    background-color: #101010;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;

}

.modal-dialog#aboutModal {
    max-width: 900px;
}

.place {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#aboutContainer {
    font-family: 'Times New Roman', Times, serif;
    color: #B0B0B0;
}

h2 {
    text-align: center;
}

/* CONTENT */
.content {
    position: relative;
    z-index: 2;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}


.gr {
    font-family: 'Capitalis', Fallback, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36pt;
    text-align: center;
    color: #5CB9C0;
    opacity: 0.7;

}

.ch {
    font-family: 'ChineseTakeaway', Fallback, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36pt;
    text-align: center;
    color: #ffdab9;

}

.cl {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36pt;
    text-align: center;
    color: #cdcdcd;

}

.sh {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36pt;
    text-align: center;
    color: rgb(187, 0, 37);


}

.ph {
    font-family: 'Times New Roman', Times, serif;
    font-size: 42pt;
    text-align: center;
    color: white;

}

.sp {
    font-family: 'Times New Roman', Times, serif;
    font-size: 42pt;
    text-align: center;
    color: white;
}
.ftr{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 8pt;
    text-align: center;
    color: #86868693;
}
.ftr a{
    color: #86868693;

}

hr {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: #86868693;

    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

.grid-item {
    /* Masonry bricks or child elements */
    margin: 0 0 1.5em;
}

.col-gal {
    display: flex;
    align-items: center;
    justify-content: center;

}





/*HOVER EFFECT*/

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    z-index: 100;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}



.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 23px;
    background-color: transparent;
    color: white;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.hovereffect a,
.hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}